[submodule "firmware/components/libesphttpd"]
	path = firmware/components/libesphttpd
	url = https://github.com/chmorgan/libesphttpd.git
[submodule "firmware/components/espfs"]
	path = firmware/components/espfs
	url = https://github.com/jkent/esp32-espfs.git
