.header-desktop3 {
    background: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.au-breadcrumb2 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.statistic-chart-1-note .big {
    font-size: 18px;
    color: #393939;
    text-align: right;
}

.page-content--bgf7 {
    background: #f7f7f7;
    min-height: 100vh;
}

#login-loading {
    display: none;
}

.header__navbar ul li a {
    display: block;
    font-size: 16px;
    color: #ffffff;
    padding: 25px 30px;
    border-left: 1px solid rgba(255, 255, 255, 0.09);
}

.btn-rounded {
    border-radius: 20px;
    padding: 5px 25px;
}

.btn-default {
    color: #ffffff;
    background: rgba(36, 35, 35, 0.808);
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 3px;
}

.grid line {
    stroke: rgb(228, 223, 223);
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.modebar {
    display: none !important;
}

.toast {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 250px;
    border-radius: 1px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 20px;
    color: #363535;
    font-weight: 600;
    z-index: 1000;
    background: white;
    opacity: 0.95;
    animation: toast 500ms cubic-bezier(.23, .82, .16, 1.46);
    animation-iteration-count: 1;
}

.toast-success {
    /* background-color: rgba(8, 148, 3, 0.78); */
    border-left: solid 3px rgba(8, 148, 3, 0.78);
}

.toast-error {
    /* background-color: rgba(177, 7, 15, 0.78); */
    border-left: solid 3px rgba(177, 7, 15, 0.78);
}

.header-desktop3 {
    background: #3a4248;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.header__navbar ul li.active>a {
    color: #ffffff;
    background: #212120;
}

.header__navbar ul li a {
    display: block;
    font-size: 16px;
    color: #ffffff;
    padding: 25px 30px;
    border-left: 0px solid rgba(255, 255, 255, 0.09);
}

.header__navbar ul li:last-child a {
    border-right: 0px solid rgba(255, 255, 255, 0.102);
}

.btn-success {
    color: #fff;
    background-color: #00a69c;
    border-color: #00a69c;
}

.btn-success:hover {
    color: #fff;
    background-color: #00a69c;
    border-color: #00a69c;
}

.header-mobile .header-mobile .navbar-mobile__list {
    background: #525050;
    z-index: 10000;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.header-mobile .navbar-mobile .navbar-mobile__list {
    background: #393939;
}

.header-mobile .navbar-mobile .navbar-mobile__list li a {
    color: #fffbfb;
    display: block;
    padding: 10px 15px;
    padding-right: 25px;
    padding-left: 0;
    border-bottom: 1px solid #e6e6e6;
    text-transform: capitalize;
    line-height: inherit;
}

.bot-line {
    position: absolute;
    width: 100%;
    height: 5px;
    background: #ffffff;
    left: 0;
    border-radius: 5px;
    bottom: 0;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -ms-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
}

a:not([href]):not([tabindex]) {
    color: #ffffff;
    text-decoration: none;
}

@keyframes toast {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.lds-dual-ring {
    position: relative;
}

.lds-dual-ring div {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    border: 4px solid #000;
    border-color: #f38c00 transparent #f38c00 transparent;
    -webkit-animation: lds-dual-ring 0.9s linear infinite;
    animation: lds-dual-ring 0.9s linear infinite;
}

.lds-dual-ring {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

.statistic-k {
    margin: 15px 0;
}

.statistic-chart-1-note .big-1 {
    text-align: left;
    padding-bottom: 9px;
}

/*change the thinkness of the scrollbar here*/

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    -webkit-box-shadow: inset 0 0 3px #d1d2d3;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

/*add a shadow to the scrollbar here*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px #d1d2d3;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #000000;
}

/*this is the little scrolly dealio in the bar*/

::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: #3a4248;
    height: 3px;
    width: 5px;
}

/*nobody needs this little scrollbar corner, I mean really, get rid of it haha*/

::-webkit-scrollbar-corner {
    display: none;
    height: 0px;
    width: 0px;
}

.collapse {
    display: block;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.collapse.show {
    max-height: 99em;
    transition: max-height .5s ease-in-out;
}

.btn-card-body {
    width: 100%;
    padding: 10px;
}

.accordion {
    margin: 3em auto;
    max-width: 100%;
}

.toggle {
    display: none;
}

.option {
    position: relative;
    margin-bottom: 1em;
}

.title, .content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: all 0.2s;
}

.title {
    background: #fff;
    padding: 1em;
    display: block;
    color: #7A7572;
    font-weight: bold;
}

.title:after, .title:before {
    content: '';
    position: absolute;
    right: 1.25em;
    top: 1.25em;
    width: 2px;
    height: 0.75em;
    background-color: #7A7572;
    transition: all 0.2s;
}

.title:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.content {
    max-height: 0;
    overflow: hidden;
    background-color: #fff;
}

.content p {
    margin: 0;
    padding: 0.5em 1em 1em;
    font-size: 0.9em;
    line-height: 1.5;
}

.toggle:checked+.title, .toggle:checked+.title+.content {
    box-shadow: 3px 3px 6px #ddd, -3px 3px 6px #ddd;
}

.toggle:checked+.title+.content {
    max-height: 500px;
}

.toggle:checked+.title:before {
    -webkit-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
}

/***
*
*
*Responsiveness
**/

@media (max-width: 1570px) and (min-width: 992px) {
    .header__navbar ul li a {
        padding: 35px 25px 16px 25px;
        font-weight: 600;
    }
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .statistic-chart-1-note .big {
        font-size: unset;
        color: #000000;
        text-align: center;
    }
    .statistic-chart-1-note .big-1 {
        text-align: center;
    }
    .statistic-k {
        border-bottom: solid 1px #e6e2e2;
    }
    #infrared-image {
        height: 48vh;
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .statistic-chart-1-note .big {
        font-size: unset;
        color: #000000;
        text-align: right;
    }
    #infrared-image {
        height: 85vh;
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}